# Python virtual environment
.venv/
venv/
ENV/
env/
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE & editors
.idea/
.vscode/
*.swp
*.swo

# Temporary distribution / cache
*.egg-info/
.pytest_cache/
